body{
    font-weight: 800;
}

.container{
    margin: 60px;
    display: flex;
    flex-direction: column;
}

.timeline{
    display: flex;
}

.l-timeline_date{
    display: inline-flex;
    width: 45vw;
    flex-shrink: 0;
}

.l-timeline_date--dark{
    color: #000000;
}

.l-timeline_date--light{
    color: #374151;
    font-weight: 500;
}

.l-timeline_date::after{
    content: "";
    background: red;
    width: 0.5vw;
    height: 5.5rem;
    margin-left: auto;
}

.timeline_details{
    display: inline-flex;
}

.timeline_details::before {
    content: "";
    background: lightblue;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: 10px 24px 0px -24px ;
}
