body{
    font-weight: 800;
}

.container{
    margin: 60px;
}

.timeline{
    display: flex;
}

.l-timeline__date{
    display: inline-flex;
    flex: 1;
}

.l-timeline__date--light{
    color: #374151;
    font-weight: 500;
}

.l-timeline__date::after{
    content: "";
    background: red;
    min-width: 0.5rem;
    min-height: 5rem;
    height: 100%;
    margin-left: auto;
}

.timeline__details{
    position: relative;
    flex: 1;
    margin: 0 2rem;
}

.timeline__details::before {
    content: "";
    background: lightblue;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    left: -3.5rem;
    top: 0.7rem;
}