.todo-form{
    display: flex;
    justify-content: space-between;

    gap: 1.5rem;
    margin: 2rem 0rem;

    &__input{
        border: none;
        border-bottom: 1px solid black;
        flex-grow: 1;

        &:focus{
            outline: none;
        }
    }

}